.detail {
    font-size: 2rem;
    display: flex;
    padding: 3.5rem;
    background-color: $color-grey-light-1;
    border-bottom: 1px solid $color-grey-light-2;
    width: 71vw;

    @media only screen and (max-width: 900px) {
        padding: 3rem;
    }

    @media only screen and (max-width: 600px) {
        flex-direction: column;
    }

    h2{ 
        font-weight: bolder;
        color: $primary-color-medium;
    }
}