.word-list {
    font-size: smaller;
    width: 28vw;
    height: 39vh;
    overflow: scroll;
    background-color: $color-grey-dark-2;
    padding: 1rem;
    

    &-header{
        display: flex;
        padding-left: 3.5rem;
        padding-bottom: 1rem;

        h3 {
            margin-right: 3.5rem;
        }
    }
    
    &-items {
        display: grid;
        grid-gap: 4.5rem;
        grid-template-columns: repeat(3, 15rem);
        justify-items: center;
        align-items: center;

        p{
            width: 15vw;
            height: max-content;
            display: flex;
            flex-wrap: wrap;
            color: $color-black-3;
            box-shadow: 0 2rem 4rem $color-black-transparent;
            background-color: $color-grey-light-3;
            padding: 5px;
        }

        h3 {
            color: $primary-color-dark;
            background-color: $color-grey-light-3;
            font-size: 3rem;
        }

        img {
            width: 3vw;
            height: 6vh;
            cursor: pointer;
        }
    }
}