@import './abstracts/variables';

@import './base/body';

@import './layout/logo';
@import './layout/home';
@import './layout/header';
@import './layout/page-nav';
@import './layout/user-nav';
@import './layout/profile';

@import './components/detail';
@import './components/description';
@import './components/home-container';
@import './components/kanji';
@import './components/word-container';
@import './components/add-word';
@import './components/word-list';
@import './components/login';

.quiz {
    background-color: blue;
    height: 90vh;
    width: 64vw;
}